<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><fa-icon [icon]="faHome"></fa-icon>&nbsp;<span class="linkText">Anasayfa</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="yazılarım" routerLinkActive="active"><fa-icon [icon]="faPenAlt"></fa-icon>&nbsp;<span class="linkText">Yazılarım</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bildirimler" routerLinkActive="active"><fa-icon [icon]="faBell"></fa-icon>&nbsp;<span class="linkText">Bildirimler</span>&nbsp;<span class="notificationCount">0</span></a>
        </li>
      </ul>
    </div>
  
    <div *ngIf="isAuthenticated" class="userProfile">
      <a class="dropdown-toggle" href="#" id="navbarUserProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]="faUser"></fa-icon> <span>Profil</span> 
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserProfile">
        <a class="dropdown-item">Hesap</a>
        <a class="dropdown-item">Ayarlar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()">Çıkış Yap</a>
      </div>
    </div>
  
    <div *ngIf="!isAuthenticated" class="registerLogin">
      <a routerLink="girisyap" routerLinkActive="active">Giriş Yap</a> &nbsp;
      <a routerLink="kaydol" routerLinkActive="active">Kaydol</a>
    </div>
  </nav>