@import '~src/_vars';

nav {
    @include template-background-color;
    border-bottom:1px solid;
    @include template-border-color ;

    .navbar-brand{
        color: #fff;
    }

    button{
        @include mobile-collapse-button-border-color;
        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(66,227,208, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

    .collapse{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    @include nav-link-color;
                    @include template-general-font;

                    fa-icon{
                        @include nav-link-icon-color;
                    }

                    .notificationCount {
                        border-radius: 10px;
                        background-color: #244542;
                        padding: 2px 5px;
                    }
                }

                .nav-link:hover{
                    @include nav-link-active-color;
                    fa-icon{
                        @include nav-link-active-icon-color;
                    }
                }
            }
            .active{
                fa-icon{
                    @include nav-link-active-icon-color;
                }
                .linkText{
                    @include nav-link-active-color;
                }
            }
        }
    }

    .userProfile{
        position: absolute;
        right: 20px;
        top: 15px;
        .dropdown-toggle{
            text-decoration:none;
            @include nav-link-active-icon-color;
            cursor: pointer;
            
            span{
              padding-left: 10px;  
            }
        }

        .dropdown-toggle:hover{
            @include nav-link-active-color;
            fa-icon{
                @include nav-link-active-icon-color;
            }
        }

        .dropdown-menu {
            a {
                cursor: pointer;
            }
        }

        .active{
            fa-icon{
                @include nav-link-active-icon-color;
            }
            .linkText{
                @include nav-link-active-color;
            }
        }
    }

    .registerLogin{
        
        position: absolute;
        right: 20px;
        top: 15px;
        a {
            @include template-general-font;
            text-decoration:none;
            @include nav-link-color;
        }

        a:hover{
            @include nav-link-active-color;
        }

        .active{
            @include nav-link-active-color;
        }
    }
}

@media (max-width: 767.98px) { 
    nav {
        .navbar-brand {
            display: none;
        }

    }
}