nav {
    background-color: #14161d !important;

    .navbar-brand{
        color: #fff;
    }

    button{
        border-color: rgba(66,227,208, 1);
        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(66,227,208, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

    .collapse{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: #9b9dab;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                    .notificationCount {
                        border-radius: 10px;
                        background-color: #244542;
                        padding: 2px 5px;
                    }
                }

                .nav-link:hover{
                    color: #fff;
                    fa-icon{
                        color:#42e3d0;
                    }
                }
            }
            .active{
                fa-icon{
                    color:#42e3d0;
                }
                .linkText{
                    color:#fff;
                }
            }
        }
    }

    .userProfile{
        display: none;
        position: absolute;
        right: 20px;
        top: 15px;
        .dropdown-toggle{
            text-decoration:none;
            color: #9b9dab;

            span{
              padding-left: 10px;  
            }
        }

        .dropdown-toggle:hover{
            color:#fff;
            fa-icon{
                color:#42e3d0;
            }
        }
    }

    .registerLogin{
        
        position: absolute;
        right: 20px;
        top: 15px;
        a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration:none;
            color: #9b9dab;
        }

        a:hover{
           color:#fff;
        }
    }
}

@media (max-width: 767.98px) { 
    nav {
        .navbar-brand {
            display: none;
        }

    }
}