<div class="main-login-bg">
  <div class="main-login">

    <form [formGroup]="loginUserForm" (ngSubmit)="login()">
      <div class="form-group text-center">
        <h3>Giriş Yap</h3>
      </div>
      <div class="externalLogins">
        <a class="facebook"><fa-icon [icon]="faFacebook"></fa-icon>&nbsp;<span>Facebook</span></a>
        <a class="google"><fa-icon [icon]="faGoogle"></fa-icon>&nbsp;<span>Google</span></a>
      </div>

      <div *ngIf="errorMessages.length > 0">
        <div *ngFor="let error of errorMessages">
          <div *ngIf="error.name == 'UnverifiedEmail'; else defaultError" class="alert alert-{{error.type}}" role="alert">
            <p>{{error.value}}</p><br/><a routerLink="eposta-dogrulama" class="btn btn-primary btn-block btn-sm">Üyelik onayı için tıklayınız</a>
          </div>
          <ng-template #defaultError>
            <div class="alert alert-{{error.type}}" role="alert">
              <p>{{error.value}}</p>
            </div>
          </ng-template>
        </div>
      </div>

      <div *ngIf="success" class="alert alert-success" role="alert">
        <p>{{success}}</p>
      </div>
      
      <div class="form-group">
        <input type="email" id="email" name="email" formControlName="email" class="form-control" placeholder="Email adresiniz" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
        <span *ngIf="loginUserForm.get('email').hasError('required') && loginUserForm.get('email').touched" class="form-text text-muted">
          Giriş için e-mail adresinizi giriniz.
        </span>
        <span *ngIf="loginUserForm.get('email').hasError('pattern') && loginUserForm.get('email').dirty" class="form-text text-muted">
          E-mail adresiniz example@examle.com formatında olmalıdır.
        </span>
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" formControlName="password" class="form-control" placeholder="Şifreniz">
        <span *ngIf="loginUserForm.get('password').hasError('required') && loginUserForm.get('password').touched" class="form-text text-muted">
          Giriş için şifrenizi giriniz.
        </span>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
          <label class="form-check-label" for="rememberme">Beni hatırla</label>
          &nbsp;|&nbsp;
          <a>Şifrenizi mi unuttunuz?</a>
        </div>
      </div>

      <button type="submit" class="btn btn-md btn-primary btn-block">Oturumu Aç</button>
    </form>
  </div>
</div>
