@import '~src/_vars';
form {
    position: relative;
    max-width: 400px;
    @include general-form-background-color;
    padding: 30px;
    border-radius: 8px;
    margin:auto;
    top:60px;
    @include template-general-font;
    -webkit-box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);
    box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);

    h3 {
        @include general-form-header-color;
    }

    .form-text {
        font-size: 14px;
        @include general-form-small-error-color;
    }

    .externalLogins {
        margin-bottom: 15px;
        a {
            text-decoration:none;
            display:inline-block;
            padding:10px 15px;
            background-color: #efefef;
            border-radius: 5px;
            cursor: pointer;

            span{
                color:#565656;
                font-weight: 700;
            }
        }

        .facebook {
            fa-icon{
                color:#385898;
            }
        }

        .facebook:hover {
            background-color: #385898;
            fa-icon{
                color:#fff;
            }
            span {
                color: #fff;
            }
        }

        .google {
            margin-left: 10px;
            fa-icon {
                color: #ff4444;
            }
        }

        .google:hover {
            background-color: #ff4444;
            fa-icon{
                color:#fff;
            }
            span {
                color: #fff;
            }
        }
    }

    button {
        @include general-form-button-background-color;
        border:none;
    }

    button:hover {
        @include general-form-button-hover-background-color;
    }
}
