<div class="main-login-bg">
  <div class="main-login">
    <form [formGroup]="passwordResetForm" (ngSubmit)="sendPasswordReset()">
      <div class="form-group text-center">
        <h3>Şifre Sıfırlama</h3>
      </div>
      <div class="form-group ec-text alert alert-info">
        <p>Yeni şifrenizi aşağıdaki form talebi ile oluşturabilirsiniz. Eski şifrenizle artık giriş yapamayacaksınız.</p>
      </div>
      <div *ngIf="errorMessages.length > 0">
        <div *ngFor="let error of errorMessages">
            <div class="alert alert-{{error.type}}" role="alert">
              <p>{{error.value}}</p>
            </div>
        </div>
      </div>
      <div *ngIf="successMessage" class="alert alert-success" role="alert">
        <p>{{successMessage}}</p>
      </div>

      <div class="form-group">
        <label for="password">Yeni Şifreniz</label>
        <input type="password" id="password" name="password" formControlName="password" class="form-control" placeholder="Yeni Şifreniz" pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-.]).{8,}">
        <span *ngIf="passwordResetForm.get('password').hasError('required') && passwordResetForm.get('password').touched" class="form-text text-muted">
          Yeni şifre giriniz
        </span>
        <span *ngIf="passwordResetForm.get('password').hasError('pattern') && passwordResetForm.get('password').dirty" class="form-text text-muted">
          Şifrenizde: <br>
          * En az bir büyük harf (A-Z) <br>
          * En az bir küçük harf (a-z) <br>
          * En az bir rakam (0-9) <br>
          * En az bir özel karakter (#?!@$%^&*-.) <br>
          * En az 8 karakter (Examle123+)'den oluşmalıdır <br>
        </span>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Yeni Şifre doğrulama</label>
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Yeni Şifrenizi tekrar giriniz">
        <span *ngIf="passwordResetForm.get('confirmPassword').hasError('required') && passwordResetForm.get('confirmPassword').touched" class="form-text text-muted">
          Yeni şifreyi tekrar giriniz
        </span>
        <span *ngIf="passwordResetForm.hasError('misMatch') && passwordResetForm.get('confirmPassword').dirty && passwordResetForm.get('confirmPassword').value != ''" class="form-text text-muted">
          Şifreniz ile şifre onayınız eşleşmiyor
        </span>
      </div>
      <button type="submit" class="btn btn-md btn-primary btn-block">Yeni Şifreyi Kaydet</button>
    </form>
  </div>
</div>