form{
    position: relative;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    margin:auto;
    top:60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);
    box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);

    h3 {
        color:#565656;
    }

    .ec-text {
        p {
            text-align: justify;
        }
    }

    .form-text {
        font-size: 14px;
        color:#b43737 !important;
    }

    button {
        background-color: #323747;
        border:none;
    }

    button:hover {
        background-color: #444B62;
    }
}