@import '~src/_vars';

form{
    position: relative;
    max-width: 600px;
    @include general-form-background-color;
    padding: 30px;
    border-radius: 8px;
    margin:auto;
    top:60px;
    @include template-general-font;
    -webkit-box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);
    box-shadow: 10px 11px 40px 6px rgba(0,0,0,0.4);

    h3 {
        @include general-form-header-color;
    }

    .ec-text {
        p {
            text-align: justify;
        }
    }

    .form-text {
        font-size: 14px;
        @include general-form-small-error-color;
    }

    button {
        @include general-form-button-background-color;
        border:none;
    }

    button:hover {
        @include general-form-button-hover-background-color;
    }
}